#Header{
    background-color: black;
    border-width: 20px;
    border-color:gray;
    border-radius: 20px;
}
body{
    background-color: peachpuff;
}
#warning{
    color: red;
}
#logo{
    height:75px;
    width: 75px;
}
span{
    justify-content: center;
   display:flex;
}